* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* _________________________________________________ */
body {
    font-family: 'Open Sans', sans-serif;
}
/* _________________________________________________ */
nav {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 80px;
    background-color: white;
}
/* _________________________________________________ */


/* NAV */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
}
/* _________________________________________________ */
.nav-bar-left {
    display: flex;
    align-items: center;
    gap: 40px;
}
/* _________________________________________________ */
.left-link {
    display: flex;
    gap: 40px;
}
/* _________________________________________________ */
.nav-bar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}
/* _________________________________________________ */
.link-info {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 80px;
}
.link-info:hover {
    border-bottom: 2px solid black;
}
/* /NAV */


/* HEADER */
header.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
    background-color: #b4d0e7;
}
/* _________________________________________________ */
h1 {
    font-size: 60px;
    padding-bottom: 50px;
}
/* _________________________________________________ */
.main-page {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
}
/* _________________________________________________ */
.all-main-things {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: calc(100% / 2);
}
/* _________________________________________________ */
.fa-arrow-down {
    font-size: 50px;
    margin-top: 80px;
    color: black;
}
/* _________________________________________________ */
.out-of-border {
    height: 115%;
}
/* _________________________________________________ */
img[src*="jumbo.png"] {
    max-width:100%;
}


/* /HEADER */

/* MAIN */
.centered-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    margin-top: 150px;
}
/* _________________________________________________ */
.business-title {
    font-size: 28px;
}
.business-plane {
    margin-top: 20px;
}
.business-space {
    margin-right: 50px;
    display: inline-block;
    cursor: pointer;
}


/* BUTTONS AND COLORS */
.common-button {
    padding: 8px 20px;
    background-color: #0061ff;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.common-button:hover {
    background-color: #79acff;
}
/* _________________________________________________ */
.light-gray-span {
    padding-top: 5px;
    font-size: 14px;
    color: lightgrey;
}
/* _________________________________________________ */
.fa-circle-dot {
    color: #0061ff
}
.fa-check {
    color: #0061ff;
}
/* _________________________________________________ */
h2 {
    font-size: 32px;
    padding-bottom: 40px;
}
/* _________________________________________________ */
h3 {
    padding-bottom: 15px;
}
/* _________________________________________________ */
span {
    display: block;
}
/* /BUTTONS AND COLORS */


/* _________________________________________________ */
.plane-container {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}
/* _________________________________________________ */
.planes {
    display: flex;
    gap: 50px;
}

/* PROFESSIONAL PLANE + ADVANCED PLANE + ENTERPRISE PLANE*/
.professional-plane {
    border: 1px solid lightgrey;
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
}
.advanced-plane {
    border: 1px solid lightgrey;
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
}
.enterprise-plane {
    border: 1px solid lightgrey;
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
}
/* _________________________________________________ */
.plane-top {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}
.plane-mid {
    padding: 20px 20px 0;
}
.plane-bottom {
    padding: 0 20px 20px;
}
/* _________________________________________________ */
.mid-row {
    padding: 50px 0;
}
.mid-row-info {
    display: flex;
    align-items: baseline;
    gap: 5px;
}
/* _________________________________________________ */
.space-between {
    padding: 20px 0;
}
/* _________________________________________________ */
.centered-button {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
/* _________________________________________________ */
hr {
    width: 25%;
    margin: 50px 0 ;
}
/* _________________________________________________ */
.bottom-row-span {
    padding-top: 20px;
    font-size: 14px;
}
.bottom-row-info {
    display: flex;
    align-items: baseline;
    gap: 5px;
}


/* SALES OFFICE */
.sales-office {
    display: flex;
    flex-direction: column;
}
/* _________________________________________________ */
.team-space {
    display: flex;
    justify-content: center;
    border: 1px solid lightgrey;
    padding: 8px;
}
/* _________________________________________________ */
.office-support {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border: 1px solid lightgrey;
}
/* _________________________________________________ */
.strong-class {
    font-size: 14px;
}
/* _________________________________________________ */
.some-padding-p {
    font-size: 14px;
    padding-top: 50px;
}
/* _________________________________________________ */
.team-help {
    display: flex;
    justify-content: center;
}
/* /SALES OFFICE */


/* PARTNER */
.partner-dropbox {
    display: flex;
    gap: 50px;
    padding: 150px 0;
}
/* _________________________________________________ */
img[src*="partner.png"] {
    max-width:100%;
    max-height:100%;
}
/* _________________________________________________ */
.partner-text {
    padding-top: 50px;
}
/* _________________________________________________ */
#paragraph-padding {
    padding-bottom: 50px;
}
/* _________________________________________________ */
.partner-button {
    padding: 8px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}
/* /PARTNER */


/* CARD CONTAINER */
.card-container {
    padding-bottom: 150px;
    display: flex;
    flex-flow: wrap row;
    gap: 30px;
}
/* _________________________________________________ */
.business-card {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 30px);
}
/* _________________________________________________ */
.who-business {
    display: flex;
    flex-direction: column;
    width: 50%;
}
/* _________________________________________________ */
.business-client {
    font-size: 14px;
    color: blue;
}
/* /CARD CONTAINER */


/* ADV */
.wow {
    display: flex;
    margin-top: 120px;
    justify-content: center;
    gap: 50px;
}
/* _________________________________________________ */
div.middle-row h2 {
    padding: 0;
    font-size: 42px;
}
/* _________________________________________________ */
.last-space {
    padding: 30px 0;
}
/* _________________________________________________ */
.square-container-left {
    display: flex;
    justify-content: center;
}
/* _________________________________________________ */
.square-container-right {
    display: flex;
    justify-content: center;
}
/* _________________________________________________ */
.square {
    width: 250px;
    height: 250px;
}
/* _________________________________________________ */
img[src*=".svg"] {
    width: 50%;
    height: 20%;
}
/* _________________________________________________ */
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* DIFFERENT COLORS */
.green {
    background-color: #a2d39b;
}
.violet {
    background-color: #61082b;
}
.cyan {
    background-color: #0093ce;
}
.red {
    background-color: #ff1c1c;
}
.lightblue {
    background-color: #b4d0e7;
}
.blue {
    background-color: #0d2481;
}
.yellow {
    background-color: #ffd830;
}
/* /DIFFERENT COLORS */

/* /ADV */


/* FREE TRIAL */
.background-free {
    background-color: #b4d0e7;
    padding: 80px 0;
}
/* _________________________________________________ */
.centered-container-bottom {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}
/* _________________________________________________ */
.free-trial {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* _________________________________________________ */
.free-trial h2 {
    padding: 0;
    color: #5f0327;
    width: calc(100% / 2);
}
/* _________________________________________________ */
.free-trial-button {
    padding: 8px 20px;
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 14px;
}
/* /FREE TRIAL */



/* COMMON QUESTION */
.common-question {
    margin-bottom: 150px;
}
/* _________________________________________________ */
.expand {
    display: flex;
    justify-content: space-between;
    flex-flow: nowrap row;
    cursor: pointer;
    padding: 30px 0;
}
/* _________________________________________________ */
.expand-content {
    display: none;
    background-color: #f1f1f1;
}
.expand:hover .expand-content {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}
/* _________________________________________________ */
.horizzontal-row {
    width: 100%;
    margin: 0;
}
/* /COMMON QUESTION */


/* FOOTER */
footer {
    background-color: black;
}
/* _________________________________________________ */
.footer-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    color: white;
}
/* _________________________________________________ */
.more-info-list {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 50px;
}
/* _________________________________________________ */
div.more-info a {
    color: white;
    text-decoration: none;
    display: block;
    padding-top: 10px;
    font-size: 14px;
}
div.more-info a:hover {
    text-decoration: underline;
}
/* _________________________________________________ */
.language-list {
    padding-bottom: 50px;
    color: lightgrey;
    font-size: 14px;
}
/* FOOTER */