* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* _________________________________________________ */
body {
    font-family: 'Open Sans', sans-serif;

    /* test */
    background-color: black;
}
/* _________________________________________________ */
nav {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 80px;

    /* test */
    background-color: white;
}
/* _________________________________________________ */
header.main-header {
    height: 800px;
    background-color: #b4d0e7;
}
/* _________________________________________________ */
main.centered-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    margin-top: 200px;


    /* test */
    height: 6000px;
    background-color: white;
}

/* _________________________________________________ */
.business-title {
    font-size: 28px;
}
.business-plane {
    margin-top: 50px;
}
.business-space {
    margin-right: 50px;
    display: inline-block;
}
/* _________________________________________________ */
.plane-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;
    margin: 50px 0;

    /* test */
    background-color: green;
}

.planes {
    display: flex;
    gap: 50px;
}

/* test */
.professional-plane {
    border: 5px solid black;
    width: calc(100% / 3);
    height: 1000px;
    background-color: blue;
    display: flex;
    flex-direction: column;
}
.advanced-plane {
    border: 5px solid black;
    width: calc(100% / 3);
    height: 1000px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
}
.enterprise-plane {
    border: 5px solid black;
    width: calc(100% / 3);
    height: 1000px;
    background-color: blue;
    display: flex;
    flex-direction: column;
}
/* /test */
.uno {
    height: 50px;
    width: 100%;
    background-color: brown;
}
.due {
    height: calc(100% / 2);
    width: 100%;
    background-color: blueviolet;
}
.tre {
    height: calc(100% / 2);

    background-color: red;
}
/* /test */


.sales-office {
    display: flex;
    flex-direction: column;



    background-color: green;

}

.team-space {
    display: flex;
    justify-content: center;
    border: 1px solid orange;
    padding: 8px;
}

.office-support {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid orange;
}

h3 {
    padding-bottom: 15px;
}

.strong-class {
    font-size: 14px;
}

.some-padding-p {
    font-size: 14px;
    padding-top: 50px;
}



.partner-dropbox {
    display: flex;
    gap: 50px;
    padding: 150px 0;
}

img[src*="partner.png"] {
    max-width:100%;
    max-height:100%;
}

.partner-text {
    padding-top: 50px;
}

#paragraph-padding {
    padding-bottom: 50px;
}

.partner-button {
    padding: 8px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}


.dropbox-business {

}

h2 {
    font-size: 32px;
    padding-bottom: 40px;
}

.card-container {
    padding-bottom: 150px;
    display: flex;
    flex-flow: wrap row;
    gap: 30px;
}

.business-card {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 30px);
}

.who-business {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.business-client {
    font-size: 14px;
    color: blue;
}